@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@theme{
  --font-hindMadurai:"Hind Madurai", sans-serif;
  --font-roboto:"Roboto", sans-serif;
  --font-inter:"Inter", sans-serif;
  --banner_bg:90deg, #013223 0%, #006747 49.99%, #013223 100%;
  --shadow-header:0 1px 50px 0 rgba(181, 181, 181, 0.25);
  
}

